<li id="<%= user.id %>">
  <%= link_to gravatar_for(user), user %>
    <span class="user">
      <%= link_to user.name, user %>
    </span>
    <span class="rating"><%= user.rating %></span>
  <% if current_user?(user) %>
    <%= link_to "delete", user, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: user.name %>
  <% end %>
</li>